footer.bg-dark.text-light.py-5.mt-5.border-top
    .container
        .row
            .col-md-4.mb-4
                h5.fw-bold Fotaza2
                p Una comunidad de fotógrafos compartiendo historias a través de imágenes
                .social-links
                    a.text-light.me-3(href="#")
                        i.bi.bi-facebook
                    a.text-light.me-3(href="#")
                        i.bi.bi-twitter
                    a.text-light.me-3(href="#")
                        i.bi.bi-instagram
            
            .col-md-2.mb-4
                h6.fw-bold Enlaces
                ul.list-unstyled
                    li
                        a.text-light-hover.text-decoration-none(href="/publicaciones") Explorar
                    li
                        a.text-light-hover.text-decoration-none(href="/buscar") Buscar
                    li
                        a.text-light-hover.text-decoration-none(href="/comunidad") Comunidad
            
            .col-md-2.mb-4
                h6.fw-bold Legal
                ul.list-unstyled
                    li
                        a.text-light-hover.text-decoration-none(href="/privacidad") Privacidad
                    li
                        a.text-light-hover.text-decoration-none(href="/terminos") Términos
                    li
                        a.text-light-hover.text-decoration-none(href="/contacto") Contacto
            
            .col-md-4.mb-4
                h6.fw-bold Newsletter
                form
                    .input-group
                        input.form-control(type="email", placeholder="Tu email", aria-label="Tu email")
                        button.btn.btn-primary(type="submit")
                            i.bi.bi-send
        
        hr
        .row
            .col-12
                p.text-center.text-light.mb-0
                    small © 2026 Fotaza2. Todos los derechos reservados.