nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow-sm
    .container-fluid
        a.navbar-brand.fw-bold(href="/")
            i.bi.bi-image-fill
            span.ms-2 Fotaza2
        
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.align-items-center
                li.nav-item.me-3
                    a.nav-link(href="/publicaciones") Explorar
                
                if currentUser
                    li.nav-item.me-3
                        a.nav-link(href="/buscar") Buscar
                    
                    li.nav-item.me-3
                        a.nav-link(href="/auth/subirFoto") Subir
                    
                    li.nav-item.me-4
                        a.nav-link.text-white(href="#")
                            i.bi.bi-envelope-fill
                    
                    li.nav-item.me-3
                        a.nav-link.text-warning(href="/notificaciones")
                            i.bi.bi-bell-fill
                            if unreadNotifications
                                span.ms-1 (#{unreadNotifications})
                    
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false")
                            | [Avatar]
                        ul.dropdown-menu.dropdown-menu-end.dropdown-menu-dark
                            li
                                a.dropdown-item(href=`/usuarios/${currentUser.id}`) Mi perfil
                            li
                                a.dropdown-item(href="/favoritos") Mis colecciones
                            li
                                a.dropdown-item(href="/seguidos") Usuarios que sigo
                            li
                                hr.dropdown-divider
                            li
                                a.dropdown-item(href="/auth/logout") Cerrar sesión
                else
                    li.nav-item
                        a.nav-link(href="/auth/login") Iniciar sesión
                    
                    li.nav-item
                        a.nav-link.btn.btn-primary.text-white(href="/auth/register") Registrarse