doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 'Fotaza2'

    body 
    header 
    nav 
    h1 'Bienvenido a Fotaza2'
    ul 
    li 
    a(href="/") 'Inicio'

    main 
    block content
    footer 
    p '© 2024 Fotaza2. Todos los derechos reservados.'