extends  layout

block content
    .row.justify-content-between.aling-items-center
        .col-md-4
            img.logo-reflect(src="imagenes/logo.jpg", alt="Logo de Fotaza2",style="max-width:250px; height:250px;")
        
        .col-md-8.col-lg-6 
            .card.shadow-sm.border-0.rounded-4 
                .card-body.p-4.p-md.text-center
                    h2.display-5.text-primary Bienvenido a Fotaza2 
                    p.lead.text-secondary Comienza a subir y compartir fotos.
                    hr.my-4
                    
                    if currentUser
                        .alert.alert-success(role="alert")
                        | Bienvenido, <strong>#{currentUser.username}</strong>! Puedes empezar a subir tus fotos.
                        .d-flex.justify-content-center.gap-3.mt-3
                            a.btn.btn-success(href="/auth/subirFoto")
                                i.bi.bi-cloud-upload.me-2 
                                | Subir Foto 
                            a.btn.btn-outline-danger(href="/auth/logout")
                                i.bi.bi-box-arrow-right.me-2
                                | Cerrar sesión
                    else
                      .alert.alert-info(role="alert")
                        i.bi.bi-info-circle.me-2 
                        | Inicia sesión o Registrate.
                      .d-flex.justify-content-center.gap-3.mt-3 
                        a.btn.btn-primary(href="/auth/login")
                          i.bi.bi-door-open.me-2 
                          | Iniciar sesión
                        a.btn.btn-outline-success(href="/auth/register")
                          i.bi.bi-person-plus.me-2 
                          | Registrarse